
.great-experience-section{
    margin: 100px 20px 0px 50px;
}

.first-section p{
    line-height: 40px;
    max-width: 400px;
}

.great-experience-image{
    max-width: 600px;
    width: 100%;
}

.orange-bar{
    border: 4px solid #FF6600;
    max-width: 50px;
}

@media screen and (max-width: 980px) {
    .great-experience-section{
        display: flex;
        flex-direction: column;
        margin: -30px auto 60px;
    }
    .first-section{
        max-width: 500px;
        margin: -30px auto 60px;
        padding: 20px 40px;
        text-align: center;
    }
    .great-experience-image{
        display: none;
    }
    .orange-bar{
        margin: auto;
    }
}


@media screen and (max-width: 700px) {
    .orange-bar{
        margin: auto;
    }
}