.value-proposition-text{
    margin: 92px auto 0px auto;
    max-width: 1000px;

}

.value-proposition p{
    color: #010066;
}


.value-proposition-icon{
    margin: 50px 0px 0px 0px;
    overflow-x: hidden;
}