.about-company-section{
    margin: 20px;
}

.about-company-contents{
    border: 1px solid #333333;
    margin: auto;
    max-width: 950px;
    border-radius: 10px;
    padding: 20px;
}


.about-company-text{
    text-align:center;
}

.about-us-img{
    max-width: 550px;
    width: 100%;
    margin: auto;
    display: block;
}

.about-company-title{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 65px;
    /* identical to box height, or 232% */
    /* Swift Solid 2 */
    color: #010066;
}

.about-company-subtitle{
    max-width: 550px;
    width: 100%;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */

    text-align: center;

    color: #333333;
}

.about-company-logo{
    display: block;
    margin: 60px auto 10px;
}