.about-value-proposition{
    display: flex;
    background-color: hsl(241, 100%, 20%);
    
}

.about-vp-contents{
    max-width: 1100px;
    margin: 20px auto;
}

.about-value-proposition-text{
    max-width: 250px;
    width: 100%;
}

.about-value-prop-image{
    max-width: 250px;
    width: 100%;
}

.about-value-prop-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    
    color: #FFFFFF;
}

.about-value-prop-subtitle{

}

.about-value-prop-image{

}


.testimonial-section{
    
}