.value-proposition{
    display: flex;
    background-color: #010066;
}

.value-proposition-text{

}

.value-prop-image{

}


.value-prop-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    
    color: #FFFFFF;
}

.value-prop-subtitle{

}

.value-prop-image{

}


.testimonial-section{
    
}