.about-value-proposition{
    background-color: hsl(241, 100%, 20%);
}

.about-vp-contents{
    max-width: 1100px;
    margin: 40px auto;
    padding: 60px 0px 0px 0px;
}

.about-value-proposition-text{
    /* max-width: 250px; */
    margin: 20px;
    width: 100%;
}

.about-value-prop-image{
    /* max-width: 250px; */
    width: 100%;
}

.abvp-img{
    max-width: 450px;
    width: 100%;
}

.about-value-prop-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    
    color: #FFFFFF;
}

.path-icon{
    margin: 20px 0px -50px 0px;
    overflow-x: hidden;
    max-width: 1400px;
    width: 100%;
}

.about-value-prop-subtitle{
    color: white;
    max-width: 550px;
    margin: auto;
}

.about-value-prop-image{

}


.testimonial-section{
    
}


@media screen and (max-width: 878px) {
    .about-value-proposition-text{
        font-family: sans-serif;
        max-width: 650px;
        margin: 20px auto;
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .about-value-prop-image{
        display: none;
    }
}