.top-nav{
    margin: 30px 30px 31px 30px;
}


.top-nav p {
    margin: 20px 20px 0px 20px ;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    /* Swift Solid 2 */
    color: #010066;

}

.top-nav-action-section{

}



/* Small Breakpoint */
@media screen and (max-width: 576px){
    .search-bar, .username, .notifications-icon{
        display: none;
    }

    .header-tool{
        display: block;
        padding: 0px;
    }
    .profile-section{
        float: right;
        margin: 10px 30px 0px 30px;
    }
    .main-section{
        /* max-width: 500px; */
    }
}


/* For Tablets */
@media screen and (max-width: 768px){
    
}
/* For Laptops */
@media screen and (max-width: 900px){
    .top-nav-menu{
        display: none;
    }   
    
    .top-nav-action-section{
        display: none;
    }
}
/* For Large Devices */
@media screen and (max-width: 1200px){
    
    
}


