.top-nav{
    margin: 30px 30px 31px 30px;
}


.top-nav p {
    margin: 20px 20px 0px 20px ;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    /* Swift Solid 2 */
    color: #010066;

}

.top-nav-action-section{

}