.meet-the-team-section{
    max-width: 950px;
    margin: auto;
}

.meet-the-team-header{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 65px;
    /* identical to box height, or 232% */
    /* Swift Solid 2 */
    color: #010066;
    text-align: center;
}

.meet-the-team-subtitle{
    max-width: 550px;
    width: 100%;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */
    text-align: center;
    color: #333333;
}