.the-rate-section{
    width: 1200px;
    margin: 0px auto 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.our-section-text{
    font-weight: bold;
    font-size: 18px;
    /* or 361% */
    /* Swift Solid 2 */
    color: #010066;
    margin: 10px 10px 10px 30px;
}

.our-rate-body-section{
    margin: 30px 10px 0px 30px;
}

.btc-logo{
    width: 24px;
    margin: 0px 0px 30px 0px;
}

.btc-text{
    margin: 20px 50px 0px 5px;
}

.eth-text{
    margin: 30px 50px 0px 10px;
}

.btc-text-price{
    margin: 0px 0px 0px 20px;
}

.bold-currency{
    font-weight: 700;
}


.blue-button{
    border-radius: 10px;
}

.btc-resrv-text{
    margin: 0px 50px 0px 5px;
}

.eth-resrv-text{
    margin: 10px 50px 0px 5px;   
}


.our-reserves-section{
    margin: 30px 10px 0px 30px;
}