.footer-section{
    background-color: #151515;
    padding: 60px 60px 60px 60px;
    display: flex;
    justify-content: space-between;
}

.footer-header{
    font-size: 18px;
    color: white;
}

.instagram-section{
    display: grid;    
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-section p{
    
}

.footer-section{

}



.footer-copyright{    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    color: #989898;
    mix-blend-mode: normal;
    opacity: 0.4;
    /* position: fixed;
    bottom: 5px; */
}


.footer-links{
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.company-us{
    margin-left: 40px;
}

.social-media-handles{
    margin: 20px 0px 0px 0px;
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-info-text{
    max-width: 380px;
}


.footer-highlight{
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #A2A2A2;
}



@media screen and (max-width: 960px)  {
    .footer-section{
        flex-direction: column;
    }

    .footer-links{
        margin: 20px 0px;
    }

    .company-instagram{
        max-width: 600px;
    }
}