.testimonial-background{
    /* background-image: url("./vectors/testimonial.svg"); */
    /* background: #010066; */
    height: 400px;
}

.typography{

}


.testimonial-background p{
    color: white;
}

.testimonial-icon-div{
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.testimonial-icon{
    max-width: 800px;
    width: 100%;
    /* margin: 10px 20px; */
}