.display-flex{
    display: flex;
}

.display-flex-withspace{
    display: flex;
    justify-content: space-between;
}

.header-text{
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
}

.purple-text{
    color: #010066;
}

.medium-text{
    font-size: 32px;
}

.subtitle-text{
    font-size: 18px;
}

.body-text{
    font-size: 16px;
}

.text-align-center{
    text-align: center;
}


.blue-button{
    width: 137px;
    height: 44px;
    margin: 10px 0px 0px 0px;
    background-color: #010066;
    border: 1px solid #010066;
    border-radius: 28px;
    color: white;
}


.card-view{
    margin: 0px auto 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}