:root{
    font-size: 1em;
    box-sizing: border-box;
}

.display-flex{
    display: flex;
}

.display-flex-withspace{
    display: flex;
    justify-content: space-between;
}

.divider{
    border: 1px solid #828282;
}

.header-text{
    font-size: 3em;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
}

.purple-text{
    color: #010066;
}

.medium-text{
    font-size: 2em;
}

.subtitle-text{
    font-size: 1.125em;
}

.body-text{
    font-size: 1em;
}

.page-text{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 65px;
    /* identical to box height, or 232% */
    /* Swift Solid 2 */
    color: #010066;
}

.text-align-center{
    text-align: center;
}


.blue-button{
    width: 137px;
    height: 44px;
    margin: 10px 0px 0px 0px;
    background-color: #010066;
    border: 1px solid #010066;
    border-radius: 28px;
    color: white;
}


.card-view{
    margin: 0px auto 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


.btc-logo{
    width: 24px;
}

.text-link{
    text-decoration: none;
}

.no-link{
    text-decoration: none;
}

.login-text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    /* identical to box height, or 167% */
    color: #2F2F2F;
}

.login-click-text{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    /* identical to box height, or 167% */
    /* Swift Solid 2 */
    color: #010066;
}

.error-message{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    /* Swift gray */
    color: red;
}

.success-message{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    /* Swift gray */
    color: green;
}

/* Small Breakpoint */
@media screen and (max-width: 576px){
    :root{
        font-size: 0.75em;
    }
}


/* For Tablets */
@media screen and (max-width: 768px){
    :root{
        font-size: 0.875em;
    }   
    .header-text{
        font-size: 2em;
    }
    .medium-text{
        font-size: 1.75em;
    }
    .subtitle-text{
        font-size: 1em;
    }
    .body-text{
        font-size: 0.875em;
    }
}
/* For Laptops */
@media screen and (max-width: 900px){    
    
}
/* For Large Devices */
@media screen and (max-width: 1200px){
    :root{
        font-size: 1em;
    }

}


